html,
body,
#root {
  width: 344px;
  min-width: 344px;
  min-height: 384px;
}

html {
  background: #080d0c;
}

body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: #080d0c;
}
